body{
    font-family: 'Poppins';
}
.navbar {
    text-align: center;
    width: 90%;
    margin: auto;
    display: block;
}

.nav li {
    display: inline-block;
}

.nav li a {
    text-decoration: none;
    display: inline-block;
    color: purple;
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
    font-size: 22px;
    padding: 1rem 5rem;
}

.nav a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(0, 0, 0);
    transition: width .3s;
}

.nav a:hover::after {
    width: 100%;
    transition: width .3s;
}
.name-highlight{
    color: purple;
    font-weight: bold;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
h1, h2{
    margin: 0px;
}
#change-margin{
    margin-top: 5%;
}
.half-width{
    width: 30%;
    float: left;
    margin-left: 10%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
    margin-top: 2%;
}
.upper-part{
    background-image: url(images/header-bg.png);
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.link-button{
    color: white;
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, purple);
    padding: 10px 20px;
    border-radius: 5px;
}
.middle-part{
    background-image: url(images/biography-bg.png);
}
.latest-work {
    background-image: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
    height: 150px;
}
.latest-work-inner {
    width: 90%;
    margin: auto;
    padding: 2rem 0;
}

.latest-work-inner h2{
    text-align: center;
}
.main-box {
    grid-gap: 4rem;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.box-1, .box-2, .box-3 {
    transition: 1s;
} 

.box-1:hover, .box-2:hover, .box-3:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 40px black;
}

.main-box img {
    width: 100%;
}
.client-review {
    margin: 2rem 0;
    background-image: url("images/footer-bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.last-work-inner {
    height: 600px;
    text-align: center;
    width: 90%;
    margin: auto;
    padding: 1rem 0;
}

.client-review {
    transform: translateY(70%);
}

.last-work h2, small, p {
    padding-top: 2rem;
}

.last-work-inner h2{
    color: purple;
}

.button-link {
    margin-top: 1rem;
}

.button-link-inner {
    color: white;
    padding: 1.5rem 5.3rem;
    border: none;
    border-radius: 10px;
    background-image: linear-gradient(45deg, lightsalmon, purple);;
}

.button-link-inner h5 {
    font-size: 12px;
}

.button-link-inner h4 {
    font-size: 20px;
}
footer h6 {
    padding-top: 5rem;
    text-align: center;
}   
    
